<!DOCTYPE html>
<html>
  <head>
    <title>Diabetes Patient Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!-- <a href="https://github.com/murtaza55/mlproject_regression" class="top-left-link" target="_blank">GitHub Repository Link</a> -->
    <h1>Diabetes Patient Prediction- ML CA 01</h1>
    <div class="form-box">
    <form action="{{url_for('predict_datapoint')}}" method="POST">
        <div class="form-group">
            <label for="glucose">Glucose:</label>
            <input type="text" id="glucose" name="glucose" placeholder="Enter Patient's glucose level (float)">
        </div>
    
        <div class="form-group">
            <label for="bmi">BMI:</label>
            <input type="text" id="bmi" name="bmi" placeholder="Enter Patient's BMI (float)">
        </div>

        <div class="form-group">  
            <label for="age">Age:</label>
            <input type="text" id="age" name="age" placeholder="Enter Patient's age (float)">
        </div>
    
    <div style="clear:both;"></div>
      <input type="submit" value="Submit">
    </form>
    </div>
    <div>      
    <h2>
      Predicted Diabetic Result: {% if results == 0.0 %} False {% elif results == 1.0 %} True {% endif %}
    </h2>
  
  </body>
</html>